<mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <app-header (sidenavToggle)="sidenav.toggle()"></app-header>      
          <main>
            <router-outlet></router-outlet>
          </main>
        </mat-sidenav-content>
</mat-sidenav-container>

    
    
  <!--   <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
          {{tile.text}}
        </mat-grid-tile>
      </mat-grid-list>
    
    <mat-toolbar>
    <button mat-button routerLink="/">{{title}}</button>  
    
    <button mat-button routerLink="/users"> Users </button>
    <span style="flex: 1 1 auto"></span>
    <button mat-button *ngIf="!authService.isAuthenticated" routerLink="/register"> Register </button>
    <button mat-button *ngIf="!authService.isAuthenticated" routerLink="/login"> Login </button>
    <button mat-button *ngIf="authService.isAuthenticated" (click)="authService.logout()"> Logout </button>
  </mat-toolbar>
  <router-outlet></router-outlet> -->